header{
    background-image: url(	https://images.unsplash.com/photo-1532012197267-da84d127e765?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}
#main {
    background-color: #00000070;
    width: 100%;
    height: 500px;
}
#login{
    background-image: url(/background.jpg);
    background-position: 50%;
     background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    
    
}